* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  width: 90%;
  margin: 0 auto;
  background-color: #d3d3d3;
}

.container {
  background-color: #fff;
  width: 50%;
  margin: 20px auto;
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 14px;
    width: 90%;
  }

  .add-honorarium {
    width: 50%;
    margin: 0 auto;
}

  .container {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
    width: 100%;
  }

  .container {
    width: 95%;
  }

  .add-honorarium {
    width: 60%;
    margin: 0 auto;
}
}

.add-honorarium {
    width: 60%;
    margin: 0 auto;
}
input[type="date"] {
    padding: 5px;
}

input[type="time"] {
    padding: 5px;
}
.box {
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.5);
}


.header img {width: 55px; margin: 3px}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:  10px;
}


.button       {background-color: #04AA6D; border: none; border-radius: 5px; color: white;padding: 7px 12px;text-align: center;text-decoration: none; display: inline-block;font-size: 14px;margin: 2px;cursor: pointer;}
.button:hover {background-color: #059862}

input[type=text] ,input[type=password],input[type=tel],input[type=number]                      { width: 100%; font-size: 14px; padding: 8px; border-radius: 3px; margin: 3px ; box-sizing: border-box;border: 1px solid #ccc;-webkit-transition: 0.5s; transition: 0.5s;outline: none;}
input[type=text]:focus, input[type=password]:focus, input[type=tel]:focus,input[type=number]:focus   { border: 1px solid #059862;}

form.form {
    padding: 20px;
}

table.speakers {
    margin: 0 auto;
    text-align: left;
    word-break: break-all;
    border-collapse: collapse;
    padding: 0 5px;
    width: 100%;
}



.speakers tr td:first-child{ border-bottom: 1px solid #d3d3d3}
.speakers tr { border-bottom: 1px solid #d3d3d3}

.mv-center {text-align: center; padding: 5px; font-size: 14px}

/* Dashboard */
.dashboard {background-color: #fff; margin-top: 10px;}
.dashboard-header {border-bottom: 1px solid red;}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    align-items: center;
}

.dashboard.box {
    border-radius: 5px;
    padding: 5px;
    margin: 20px 0;
}

p.header-text {
    font-size: 20px;
    color: brown;
}

.content {padding:  5px}

hr {
    outline: 0;
    border: none;
    height: 1px;
    background-color: brown;
    margin: 5px 0;
}

ul {list-style: none; }
.bg-brown {background-color: brown !important;}


.course-list {width:  100%; margin: 0 auto; word-break: break-all;}
.course-list table,th,td {text-align: left; border-collapse: collapse ;border-bottom: 1px solid #d3d3d3; padding: 3px;}

.hide {display: none;}

    .suggestions {
            border: 1px solid #ccc;
            max-height: 300px;
            overflow-y: auto;
            overflow-x: auto;
            position: absolute;
            z-index: 1000;
            background: white;
            width: 729px;
        }
        .suggestion-item {
            padding: 10px;
            cursor: pointer;
        }
        .suggestion-item:hover {
            background-color: #f0f0f0;
        }
 
        .suggestion-item {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
        }
        .suggestion-item:hover {
            background-color: red;
            color:  #fff;
        }

 

.suggestions::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.suggestions::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
}

.suggestions::-webkit-scrollbar-thumb {
    background: #888; /* Color of the thumb */
    border-radius: 10px; /* Round edges for the thumb */
}

.suggestions::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the thumb on hover */
}

input#speaker_name {
    font-weight: bold;
}


form.warp {
    border: 1px solid brown;
    margin: 5px;
    padding: 30px;
    border-radius: 3px;
}

table.honorarium-table {
    margin: 0 auto;
    font-size: 12.5px;
    border-collapse: collapse;

}

table.honorarium-table  table,th,tr,td {border:  1px solid #d3d3d3}
table.honorarium-table tr:hover {background-color:  #d3d3d3; cursor:  pointer}

.search {
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}