/* Global Settings */



* {box-sizing: border-box; margin: 0;padding: 0;}

/* Font Settings */
@font-face { font-family: 'BnFont';  src: url('../fonts/bn.ttf') format('truetype');}
.bnFont    { font-family: 'BnFont';}

/**/


/* UI Components  */

/* Button */
.button       {background-color: #04AA6D; border: none; border-radius: 5px; color: white;padding: 5px 10px;text-align: center;text-decoration: none; display: inline-block;font-size: 16px;margin: 4px 2px;cursor: pointer;}
.button:hover {background-color: #059862}

input[type=text] ,input[type=password],input[type=tel]               { width: 100%; font-size: 14px; padding: 8px 15px; border-radius: 5px; margin: 5px 0; box-sizing: border-box;border: 1px solid #ccc;-webkit-transition: 0.5s; transition: 0.5s;outline: none;}
input[type=text]:focus, input[type=password]:focus, input[type=tel]:focus   { border: 1px solid #059862;}

.container-admin-form {margin: 20px auto;}



.sysadmin-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.admin-logo {
  width: 20%;
  height: auto;
  max-width: 100%; /* Ensures the image never exceeds its original size */
}


/*Global Settings for index Page*/




.container {margin:  0 auto; width: 50%;}

.box {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    border:  1px solid #f3f3f3;

}

.login-text {text-align: center; font-size: 16px; text-decoration: underline; color: red;}
/*End of Global Settings for index*/


/** User info */
.tbl {border-collapse: collapse; margin: 40px auto;}
.tbl  td { padding:  3px; }
.tbl  td:first-child {text-align: right; font-weight: bold;}
.tbl  td:last-child a {float: right;}
.tbl  caption {font-size: 18px; text-align: center; text-decoration: underline; color: green;}
.container-info.box.bnFont {margin-top: 50px;}

.container.box {
    padding: 30px;
    margin-top: 38px;
}

.admin-table {border-collapse: collapse; margin: 30px auto;}
.admin-table .fr {background: #04AA6D; padding:15px; color: #fff;}
.admin-table td,th {border: 1px solid #d3d3d3; padding: 2px 20px; font-size: 16px; text-align: center;}
.admin-table .cl-red {font-size: 12px; background-color: #fff; border:  1px solid #d3d3d3}
.admin-table .cl-green {font-size: 14px  ;}

.admin-foot {color:  red; text-align: center; padding: 20px;}


select.admin-menu.bnFont {
    padding: 7px;
    border: 1px solid #059862;
    border-radius: 5px;
    outline: 0;
}

.admin_update {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}

/* System Admin */
.header {border: 1px solid #d3d3d3; display: flex; align-items: center; justify-content: space-between;}
.header img {width: 35px; height: auto; display: inline;}
.header p {display: inline; }
.header ul,li {display: flex; justify-content: center; align-items: center; }
/*Media Queries*/

/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
   .container-admin-form {width:  80%}
   .container-info {width: 90%; margin: 0 auto;}
   .container {width: 90%;}
}

/* Small devices (phones in landscape, 481px to 767px) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .container-admin-form {width:  70%}
  .container-info {width: 80%; margin: 0 auto;}
  .container {width: 80%;}
}

/* Medium devices (tablets, 768px to 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container-admin-form {width:  60%}
  .container-info {width: 70%; margin: 0 auto;}
  .container {width: 70%;}
}

/* Large devices (desktops, 1025px to 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
   .container-admin-form {width:  50%}
   .container-info {width: 60%; margin: 0 auto;}
   .container {width: 60%;}
}

/* Extra large devices (large desktops, 1201px and up) */
@media only screen and (min-width: 1201px) {
    .container-admin-form {width:  30%}
    .container-info {width: 50%; margin: 0 auto;}
    .container {width: 50%;}
}

/* Retina or high-resolution displays */
@media only screen and (-webkit-min-device-pixel-ratio: 2), 
       only screen and (min--moz-device-pixel-ratio: 2), 
       only screen and (-o-min-device-pixel-ratio: 2/1), 
       only screen and (min-device-pixel-ratio: 2), 
       only screen and (min-resolution: 192dpi), 
       only screen and (min-resolution: 2dppx) {
  /* Your styles */
}




/* create user */
.red {color: red; text-align: center;}